# Blacklist everything
/**

# whitelist the necessary files and folders, this gets everything from inside them too
!/vivado/
!/vivado/sdk/
!/vivado/sdk/**
!/vivado/src/
!vivado/src/**
!/gaphor/

!/csimulation/
!/csimulation/**

!/hls/
!/hls/src/
!/hls/src/**
!/hls/tb/
!/hls/tb/**

!/plots/
!/plots/*.ipynb
!/plots/pyproject.toml
!/plots/fb_dump.bin

!/sdk/
!/sdk/**

!/drawio/
!drawio/**